/* GLOBAL */

* {
    /* espaçamento*/
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #fcfcfc;
}

/* TITULOS */

header h1, main h2 {
    margin-bottom: 70px;
}

h1, h2 {
    color: #000000dd;
}

.form h2 {
    text-align: right;
    color: #ffffffdd;
    font-size: 22px;
    text-align: center;
}

/* ESTRUTURA */
header, main, footer {
    text-align: center;
}

header, .form,  main { 
    margin: 0 auto 50px; 
    width: 90%;
    max-width: 500px;
}

/* Header */
header button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;

    background-color: #ff4f4f;
    color: white;

    font-weight: bold;
}

.logo {
    width: 130px;
    margin: 60px 0;
}

header p {
    font-size: 16px;
}


/* FORM */
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
    align-items: center;

    background-color: #ff4f4f;

    padding: 16px 64px;
    border-radius: 6px;
}

form input,
form button {
    width: 100%;

    /* correção */
    margin-bottom: 4px;

    /* preenchimento*/
    padding: 8px 16px;

    /* bordas */
    border-radius: 4px;
    border: 1px #ffffff88 solid;
}

form input {
    background-color: #ff4f4f;
}

form input::placeholder {
    color: #ffffffaa;
}

form button {
    font-weight: bold;
}

/* MAIN */

main h2 span {
    color: #ff4f4f;
}

main .doadores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main .sangue {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

main .doador p {
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 16px;
}

main .sangue::before {
    content: "";
    background-color: #ff4f4f22;

    width: 40px;
    height: 40px;
    
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg)
}

footer {
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}

/* funcionalidades com js*/

section.form {
    transition: all 300ms;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px; 
}